<div class="container">
  <br>
  <br>
  <h2>
    <strong>My Sales Page</strong>
  </h2>
  <div class="flex-container">
    <mat-card class="example-card" *ngFor="let sales of my_sales">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{sales.data.title}}</mat-card-title>
        <mat-card-subtitle>{{sales.data.productName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="example-img" src={{sales.data.imageURL}}>
      <mat-card-content>
        <p>
          {{sales.data.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/sale_update">UPDATE</button>
        <button mat-button routerLink="/sale_confirm/{{sales.id}}">CONFIRM</button>
        <button mat-button routerLink="/detail/{{sales.id}}">DETAIL</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>