.example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4aNQS9iljGsevhN2je5DFpWjj0tJFYcL62N-kgBQVl3rOkkro');
    background-size: cover;
}

.example-card {
    max-width: 400px; //padding: 0px;
    margin: 20px;
}

.example-img {
    object-fit: cover;
    max-width: 400px;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}