.example-card {
    max-width: 250px; //padding: 0px;
    margin: 15px;
}

.example-img{
    object-fit: cover;
    max-width: 200px;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}