<div class="upper">
  <h1 class="upper-text">
    <b> ALL BLUE 는 식재료/생활용품 공유 플랫폼입니다 </b>
    <br> </h1>
  <h3 class="upper-text2">
    <p>식재료가 남아 고민일 때!</p>
    <p>배송비를 아끼고 싶을 때!</p>
    <p>마트보다 싸게 사고 싶을 때!</p>
  </h3>
</div>

<div class="container">
  <div class="flex-container">

    <!-- Costco -->
    <mat-card class="example-card" routerLink="/search_result/코스트코">
      <mat-card-header>
        <mat-card-title> 코스트코 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/706/706164.svg" alt="Costco icon">
    </mat-card>

    <!-- 밑반찬 -->
    <mat-card class="example-card" routerLink="/search_result/밑반찬">
      <mat-card-header>
        <mat-card-title> 밑반찬 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/907/907502.svg" alt="side dish icon">
    </mat-card>

    <!-- 육류 -->
    <mat-card class="example-card" routerLink="/search_result/육류">
      <mat-card-header>
        <mat-card-title> 육류 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135680.svg" alt="meat icon">
    </mat-card>

    <!-- 생선류 -->
    <mat-card class="example-card" routerLink="/search_result/생선류">
      <mat-card-header>
        <mat-card-title> 생선류 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/672/672654.svg" alt="fish icon">
    </mat-card>

    <!-- 유제품 -->
    <mat-card class="example-card" routerLink="/search_result/유제품">
      <mat-card-header>
        <mat-card-title> 유제품 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135635.svg" alt="milk icon">
    </mat-card>

    <!-- 채소 -->
    <mat-card class="example-card" routerLink="/search_result/채소">
      <mat-card-header>
        <mat-card-title> 채소 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135687.svg" alt="vegetables icon">
    </mat-card>

    <!-- 과일 -->
    <mat-card class="example-card" routerLink="/search_result/과일">
      <mat-card-header>
        <mat-card-title> 과일 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135717.svg" alt="fruit icon">
    </mat-card>

    <!-- 조미료 -->
    <mat-card class="example-card" routerLink="/search_result/조미료">
      <mat-card-header>
        <mat-card-title> 조미료 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/870/870220.svg" alt="spice icon">
    </mat-card>

    <!-- 소스 -->
    <mat-card class="example-card" routerLink="/search_result/소스">
      <mat-card-header>
        <mat-card-title> 소스 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/325/325534.svg" alt="sauce icon">
    </mat-card>

    <!-- 즉석식품 -->
    <mat-card class="example-card" routerLink="/search_result/즉석식품">
      <mat-card-header>
        <mat-card-title> 즉석식품 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/920/920785.svg" alt="instant food icon">
    </mat-card>

    <!-- 음료 -->
    <mat-card class="example-card" routerLink="/search_result/음료">
      <mat-card-header>
        <mat-card-title> 음료 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/850/850111.svg" alt="beverage icon">
    </mat-card>

    <!-- 생활용품 -->
    <mat-card class="example-card" routerLink="/search_result/생활용품">
      <mat-card-header>
        <mat-card-title> 생활용품 </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/863/863056.svg" alt="grocery icon">
    </mat-card>

  </div>
</div>