<br>
<br>
<br>
<br>
<br>
<br>

<div class="flex-container">

  <!-- Costco -->
  <mat-card class="example-card" (click)="onClick($event)">
    <mat-card-header>
      <mat-card-title> Costco </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/706/706164.svg" alt="Costco icon">
  </mat-card>

  <!-- 밑반찬 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 밑반찬 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/608/608857.svg" alt="side dish icon">
  </mat-card>

  <!-- 육류 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 육류 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135628.svg" alt="meat icon">
  </mat-card>

  <!-- 생선류 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 생선류 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135677.svg" alt="fish icon">
  </mat-card>

  <!-- 유제품 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 유제품 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135635.svg" alt="milk icon">
  </mat-card>

  <!-- 채소 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 채소 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135687.svg" alt="vegetables icon">
  </mat-card>

  <!-- 과일 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 과일 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/135/135717.svg" alt="fruit icon">
  </mat-card>

  <!-- 조미료/소스 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 조미료/소스 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/870/870220.svg" alt="sauce icon">
  </mat-card>

  <!-- 즉석식품 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 즉석식품 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/907/907502.svg" alt="instant food icon">
  </mat-card>

  <!-- 음료 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 음료 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/850/850111.svg" alt="beverage icon">
  </mat-card>

  <!-- 생활용품 -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> 생활용품 </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-img" src="https://image.flaticon.com/icons/svg/682/682602.svg" alt="grocery icon">
  </mat-card>

</div>