<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <h1 class="example-app-name">AllBlue</h1>
   </a>

    <a role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show1}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': show1}">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/detail/'test'">
        details
      </a>
      <a class="navbar-item" routerLink="/create_sale">
        create
      </a>
      <a class="navbar-item" routerLink="/search_result/'test'">
        SearchResult
      </a>
      <a class="navbar-item" routerLink="/dashboard">
        Dashboard
      </a>
      <a class="navbar-item" routerLink="/my_sales">
        My Sales
      </a>
      <a class="navbar-item" routerLink="/login">
        Login
      </a>
      <a class="navbar-item" routerLink="/ssr">
        SSR Universal
      </a>
      <a class="navbar-item" routerLink="/notes">
        Firestore
      </a>
      <a class="navbar-item" routerLink="/uploads">
        File Uploads
      </a>
    </div>
  </div>
</nav>