<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="box">
      <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
    </div>
    <!-- User NOT logged in -->
    <ng-template #guest class="box">
      <h3>Howdy, GUEST</h3>
      <p class="card-text">Login to get started...</p>
      <button class="button" routerLink="/login">Login</button>
    </ng-template>

    <!-- User logged in -->
    <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        <p class="text-truncate">UID: {{ user.uid }}</p>
        <button class="button" (click)="logout()">Logout</button>
        <hr>
        <a class="navbar-item" routerLink="/my_sales">
          My Sales
        </a>
        <a class="navbar-item" routerLink="/create_sale/">
          Write
        </a>
      </div>
    </ng-template>
  </mat-drawer>


  <div class="example-sidenav-content">
    <mat-toolbar color="primary" style="z-index: 10" class="mat-elevation-z4">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-button routerLink=".">ALL BLUE</button>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/search_result">Search</button>
        <button mat-button *ngIf="!(auth.user | async)" routerLink="/login">Login</button>
        <button mat-button *ngIf="(auth.user | async)" (click)="logout()">Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="upper" >
    <h1 class="upper-text"> <b> ALL BLUE 는 식재료/생활용품 공유 플랫폼입니다 </b> <br> </h1>
    <h3 class="upper-text2"> 
        <p>식재료가 남아 고민일 때!</p>
        <p>배송비를 아끼고 싶을 때!</p>
        <p>마트보다 싸게 사고 싶을 때!</p>
    </h3>
  </div>

  <div class="example-sidenav-content">
    <div id="wrapper">
      <div class="content columns">
        <aside class="column is-1 is-offset-1">
        </aside>

        <main class="column is-8">
          <notification-message></notification-message>

          <router-outlet></router-outlet>

        </main>
      </div>

    </div>
  </div>
</mat-drawer-container>