<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="box">
      <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
    </div>
    <!-- User NOT logged in -->
    <ng-template #guest class="box">
      <h3>Howdy, GUEST</h3>
      <p class="card-text">Login to get started...</p>
      <button class="button" routerLink="/login">Login</button>
    </ng-template>
    <!-- User logged in -->
    <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        <p class="text-truncate">UID: {{ user.uid }}</p>
        <button class="button" (click)="logout()">Logout</button>
      </div>
    </ng-template>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="example-form">
        <button mat-raised-button color="primary" (click)="goSearchResult()">Search</button>
      </div>
    </mat-toolbar>
    <main-nav></main-nav>
  </div>

  <div class="example-sidenav-content">
    <div id="wrapper">
      <main-nav></main-nav>

      <div class="content columns">
        <aside class="column is-1 is-offset-1">
        </aside>

        <main class="column is-8">
          <notification-message></notification-message>

          <router-outlet></router-outlet>

        </main>
      </div>

    </div>
  </div>
</mat-drawer-container>
