.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.upper {
    background: linear-gradient(to bottom right, #3333e9, #3ecfe9);
    width: 100%;
}

.upper-text {
    padding-top: 1rem;
    margin-left: 1rem;
    color: white;
    font-size: 3rem;
}

.upper-text2 {
    margin-left: 1rem;
    font-size: 2rem;
    color: white;
    padding-bottom: 2rem;
}
.example-full-width {
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }